<nav>
    <ul>
      <li><strong>P's Blog</strong></li>
    </ul>
    <ul>
      <li><a href="/app"> SgSL Learner</a></li>
      <li><a href="/blog"> Blog </a></li>
      <li><a href="/about">ℹ About</a></li>
    </ul>
</nav>