<nav>
  <ul class="nav-list">
      <li><strong><a href="/">SG Sign Language Intro </a></strong></li> <!-- Home link -->
  </ul>
  <ul class="nav-links">
      <li><a href="/about"> About </a></li> <!-- Link to About page -->

  </ul>
</nav>
