<nav>
    <ul>
      <li><strong>SgSL Introductory Learner</strong></li>
    </ul>
    <ul>
      <li><a href="/app"> SgSL Learner</a></li>
      <li><a href="/tips"> Some Quick Tips </a></li>
      <li><a href="/about">ℹ About</a></li>
    </ul>
</nav>