<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
    <link rel="stylesheet" href="/css/style.css"> <!-- Custom CSS -->

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BHBMHFW010"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BHBMHFW010');
</script>
</head>

<body>
    <main class="container">
        <%- include('../partials/navbar'); %>
<br>
<br>
        <header>
            <h1>Learn Singapore Sign Language</h1>
            <p>Type a phrase to view a (possibly slightly wrong, but likely very close) corresponding sign language demonstration.</p>
       <p> Some terms require an extra tag on the back to make it work! Examples include: </p>
       <ul>
        <li> places - add <b>%20(Place)</b> to the back       </li>
        <li> multiple words - add <b>%20</b> in between the two words </li>
        <li> numerals - add <b>%20(Numeral)</b> to the back</li>
       </ul>
       </p>
        </header>

        <section id="input-section">
            <label for="phrase-input">Enter a Phrase:</label>
            <input type="text" id="phrase-input" placeholder="e.g., Let's eat chicken rice at Tampines later!">
            <button id="search-button">Search</button>
        </section>
<br>
<section id="tokenized-words-section">
    <h5> Words to Sign:</h5>
    <div id="tokenized-words"></div>
</section>

<hr>
<br>
        <section id="video-section">
            <h2>Sign Language Demonstration</h2>
            <div id="signs-container">
                <!-- This will hold the fetched GIFs -->
            </div>
        </section>
    </main>
<br>
<br>
<br>
<hr>
    <footer>
        <p>&copy; A 2024 (Nov) TechUp Test Development </p>
    </footer>

    <script src="/scripts/script.js"></script>
</body>
</html>